{% if module.attributes.id != "0" %}
  <span class="module-read-more-grid">
          <a class="module-read-more-list-btn url"
             id="see-more-{{ module.attributes.name }}"
             href="javascript:void(0)"
          >{{ 'Read More'|trans({}, 'Modules.Mbo.Modulescatalog') }}</a>
  </span>
  <script type="application/javascript">
    $('a#see-more-{{ module.attributes.name }}').on('click', function (event) {
      event.preventDefault();
      $.get('{{ path('admin_mbo_module_see_more', {"moduleId": module.attributes.id }) }}', (data) => {
        $("#module-read-more-{{ module.attributes.name }}").html(data);
      });
    })
  </script>
  <span id="module-read-more-{{ module.attributes.name }}"></span>
{% endif %}
