{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
<div class="module-sorting-menu">
  <div class="row">
    <div class="col-lg-6">
      <div class="module-sorting-search-wording">
        <span id="selected_modules" class="module-search-result-title module-search-result-wording">{{ '%nbModules% partner modules compatible with your store'|trans({'%nbModules%' : totalModules}, 'Modules.Mbo.Modulescatalog') }}</span>
        
        <div class="module-sorting-search-wording__tooltip-container">
          {% if constant('_PS_VERSION_') > '1.7.7.8' %}
              {% include '@Common/HelpBox/helpbox.html.twig' with { 'content' : "In the back office, we only show you the modules developed by PrestaShop or our partners that are compatible with your store. "|trans({}, 'Modules.Mbo.Modulescatalog') } %}
          {% else %}
            <span 
              class="help-box" data-toggle="popover"
              data-content="{{ "In the back office, we only show you the modules developed by PrestaShop or our partners that are compatible with your store. "|trans({}, 'Modules.Mbo.Modulescatalog') }}"
            >
            </span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="module-sorting module-sorting-author float-right">
        <select id="sort_module" class="custom-select sort-component">
          <option value="" disabled selected>- {{ 'Sort by'|trans({}, 'Admin.Actions') }} -</option>
          <option value="name">{{ 'Name'|trans({}, 'Admin.Global') }}</option>
          <option value="price">{{ 'Increasing Price'|trans({}, 'Admin.Modules.Feature') }}</option>
          <option value="price-desc">{{ 'Decreasing Price'|trans({}, 'Admin.Modules.Feature') }}</option>
          <option value="scoring-desc">{{ 'Popularity'|trans({}, 'Admin.Modules.Feature') }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
